.reset-password-page {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
}

.reset-password-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3rem;
  width: 50vw;
}

.reset-password__title {
  font-size: 1.2rem;
}

.reset-password__form {
  display: flex;
  flex-direction: column;
}

.reset-password__form-label {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  margin: 0 0 0.5rem;
}

.reset-password__form-input {
  font-size: 0.8rem;
  margin: 0.3rem 0;
  padding: 0.3rem;
  opacity: 0.9;
}

.reset-password__form-submit-btn {
  font-size: 1rem;
  padding: 0.5rem;
}

@media screen and (max-width: 655px) {
  .reset-password-container {
    width: 80vw;
    padding: 1.5rem;
  }
}
